#heading {
  margin: 20px 0 20px;
  text-align: center;
  padding: 32px;
  background-color: rgb(221, 221, 221);
}

body {
  margin: 0;
  font-family: Corbel;
}

.desc {
  text-align: center;
}

#img-div {
  margin: 40px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 10px;
  background-color: white;
}

#image {
  padding: 20px 0 15px;
  width: 60%;
  height: auto;
  max-width: 100%;
}

#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 40px; 
  width: 50%;
}

a {
  color: rgb(19, 19, 100);
}

a:visited {
  color: rgb(19, 19, 100);
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}
